.mapdiv path {
    fill: #eed75a;
    stroke: black;
    stroke-width: 0.1mm;
    transition: fill 0.3s;
}

.mapdiv :hover {
    /* fill: rgb(12, 104, 104); */
    fill: #343A40;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.custom-select {
    background-color: #eed75a;
    border: 1px solid #343A40;
}