<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Covacuate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hill_climb/about.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif; background-color: #eed75a; font-weight: 400;">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <h1 style="font-weight: 200; font-size: 500%;"><b style="font-weight: 600;">About</b> Us</h1>
            <p style="font-weight: 300;">
                This website is a product of Artificial Intelligence class project.
                The AI algorithm used is Hill Climb, with COVID data provided from each official province website in Indonesia. 
                Our team of developers:
            </p>
        </div>
        <div class="row">

            <div class="col-8">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Aji Inisti Udma Wijaya</h5>
                          <h6 class="card-subtitle mb-2">1806141126</h6>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Luqman Maulana Rizki</h5>
                          <h6 class="card-subtitle mb-2">1806205092</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Ronaldi Tjaidianto</h5>
                          <h6 class="card-subtitle mb-2">1806141441</h6>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Salman Ahmad Nurhoiriza</h5>
                          <h6 class="card-subtitle mb-2">1806204890</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="https://i.ibb.co/XzjV0m4/Allura-Working-Remotely-2.png" alt="" width="100%">
            </div>
        </div>
    </div>
</div>
</body>
</html>