<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoVacuate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif; background-color: #eed75a; font-weight: 400;">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center">
                <div>
                    <h1 style="font-weight: 200; font-size: 500%;"><b style="font-weight: 600;">Co</b>Vacuate</h1>
                    <p style="font-weight: 300;">Finding you the closest, lowest number of active COVID-19 cases from anywhere you are in Indonesia.</p>
                    <a href="{% url 'hill_climb:map' %}">
                    <button type="button" class="btn btn-outline-dark">
                        Start evacuating!
                    </button>
                    </a>
                </div>
            </div>
            <div class="col">
              <img src="https://blush.design/api/download?shareUri=Ypjn1Re-m&w=800&h=800&fm=png" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</body>
</html>