<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 1%; background-color: #eed75a;">
    <a class="navbar-brand" href="{% url 'hill_climb:home' %}">
      <span style="font-weight: 200;">
          <b style="font-weight: 600;">Co</b>Vacuate
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'hill_climb:home' %}">Home</a>
        <a class="nav-link" href="{% url 'hill_climb:map' %}">Evacuate</a>
        <a class="nav-link" href="{% url 'hill_climb:about' %}">About</a>
      </div>
    </div>
</nav>