<div class="modal fade" id="resultBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="resultBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultBackdropLabel">Result</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col">
                        <span>Safest city:</span> <br>
                        <span style="font-size: larger;"><b id="safestCity"></b></span>
                        <span style="font-size: small;" id="safestProv"></span> <br>
                        <span style="color: darkgoldenrod;" id="sameCity"></span>
                    </div>
                </div>
                <hr>
                <div class="accordion accordion-flush" id="resultAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Details
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#resultAccordion">
                        <div class="accordion-body">
                            <table class="table table-striped table-bordered">
                                <caption>*Distance from origin city</caption>
                                <thead>
                                  <tr>
                                    <th scope="col" rowspan="2">#</th>
                                    <th scope="col" rowspan="2">City</th>
                                    <th scope="col" rowspan="2">Province</th>
                                    <th scope="col" colspan="3">COVID Data</th>
                                    <th scope="col" rowspan="2">Distance* (m)</th>
                                  </tr>
                                  <tr>
                                    <th scope="col">Confirmed</th>
                                    <th scope="col">Recovered</th>
                                    <th scope="col">Death</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Origin</th>
                                    <td id="originCiti"></td>
                                    <td id="originProvince"></td>
                                    <td id="originConfirmed"></td>
                                    <td id="originRecovered"></td>
                                    <td id="originDeaths"></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Safest</th>
                                    <td id="rsltCity"></td>
                                    <td id="rsltProvince"></td>
                                    <td id="rsltConfirmed"></td>
                                    <td id="rsltRecovered"></td>
                                    <td id="rsltDeath"></td>
                                    <td id="rsltDistance"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Potential Cities
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#resultAccordion">
                        <div class="accordion-body">
                            <table class="table table-striped table-bordered">
                                <caption>*Distance from origin city</caption>
                                <caption id="noOtherPotential"></caption>
                                <thead>
                                  <tr>
                                    <th scope="col" rowspan="2">#</th>
                                    <th scope="col" rowspan="2">City</th>
                                    <th scope="col" rowspan="2">Province</th>
                                    <th scope="col" colspan="3">COVID Data</th>
                                    <th scope="col" rowspan="2">Distance* (m)</th>
                                  </tr>
                                  <tr>
                                    <th scope="col">Confirmed</th>
                                    <th scope="col">Recovered</th>
                                    <th scope="col">Death</th>
                                  </tr>
                                </thead>
                                <tbody id="potentialCities">
                                </tbody>
                              </table>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>